/**
Global Section
*/

.large-wrapper {
  width: 85%;
}

.wrap {
  width: 990px;
}

/** 
Body Section
*/

// Add List Page

.add-list-title {
  font-size: 45px;
  padding: 8rem 10px;
}

.form-grid {
  .input-txt-container {
    max-width: 500px;
  }
}
