/**
Global Section
*/

.large-wrapper {
  width: 90%;
}

/** 
Body Section
*/

// Add List Page

.add-list {
  min-height: 50vh;
}

.add-list-title {
  font-size: 40px;
  padding: 5rem 10px;
}

.form-grid {
  .input-txt-container {
    max-width: 400px;
  }
}
