/**
Global Section
*/

.large-wrapper {
  width: 90%;
}

.wrap {
  width: 760px;
}

/** 
Body Section
*/

// Home
// Home Page
.home-article {
  .grid-container {
    text-align: left;
  }
}

// Add List Page

.add-list {
  min-height: 50vh;
}

.article-title {
  font-size: 40px;
  padding: 5rem 10px;
}

.form-grid {
  .input-txt-container {
    max-width: 400px;
  }
}

// Single Type View
.btn-container {
  justify-content: space-between;
  flex-direction: row;
  button {
    margin: 0;
  }
}
