/**
Global Section
*/

// Display messages
.snackbar {
  max-width: 700px !important;
}

/**
Body Section
*/

.form-grid {
  text-align: left;
}

// All list page
.lists-info-grid {
  text-align: left;
  margin-bottom: 0 !important;
  border: none;
}

.list-date {
  text-align: right;
}

// Uptime monitor section
.create-monitor {
  div {
    flex: 1;
  }
}

.add-btn {
  width: auto;
}
