/**
Global Section
*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-weight: 400;
}

img {
  width: 100%;
  max-width: 300px;
}

a {
  color: $blue;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid $red;
}

.large-wrapper {
  width: 96%;
  margin: auto;
}

/**
Header Section
*/

.header {
  background: $RedToLightRed;

  .btn {
    background-color: $red;
    color: $white;
    &:hover {
      background-color: $lightred;
    }
  }
}

.header-title {
  display: none;
}

.logo {
  max-width: 80px;
  margin-right: 10px;
}

// profile btn
.profile-btn {
  color: $white;
  border-bottom: none;
}

.user-icon {
  margin-right: 10px;
  background-color: $gray;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: -2px 2px 5px $black;
}

/**
Body Section
*/

// Login page
.login-landing {
  background-image: url("https://s3.amazonaws.com/minervalists/cityBg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #444;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    max-width: 150px;
    display: block;
    margin: auto;
  }

  .form {
    max-width: 500px;
    text-align: center;
    background: $RedToLightRedDown;
    border-radius: 10px;
    padding-bottom: 1rem;
    .btn {
      background-color: $red;
    }
  }
  .form-title {
    text-transform: uppercase;
    color: $blue;
  }
  .icon {
    color: $white;
  }
  .input-txt-container {
    width: 100%;
    max-width: 400px;
    input {
      color: $white;
    }
    label {
      color: $gray;
    }
  }
}

// Home Page
.section-container {
  .list-section-title {
    background: $BrowntoOrange;
    margin: 10px 0;
    border-radius: 10px;
    color: darken($white, 5%);
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
  }
}

.list-container {
  max-width: 650px;
  margin: auto;
}
/**
Footer Section
*/

.footer {
  background: $RedToLightRed;
  color: $white;
  text-align: center;
  border-top: 5px solid $red;

  .grid-container {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer-logo {
  max-width: 150px;
}
