/**
Global Section
*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-weight: 400;
}

img {
  width: 100%;
  max-width: 300px;
}

a {
  color: $blue;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid $red;
}

.large-wrapper,
.wrap {
  width: 96%;
  margin: auto;
}

/**
Header Section
*/

.header {
  background: $RedToLightRed;

  .btn {
    background-color: $red;
    color: $white;
    &:hover {
      background-color: $lightred;
    }
  }
}

.header-title {
  display: none;
}

.logo {
  max-width: 80px;
  margin-right: 10px;
}

// Navigation
.nav {
  background: $newGrad;
  border-top: 2px solid $blue;
}

.nav-title-container {
  color: $white;
  display: flex;
  align-items: center;

  .nav-title {
    margin: 0;
    margin-left: 10px;
    font-size: 22px;
  }
}

.nav-item {
  padding: 0 !important;
  a {
    display: inline-block;
    width: 100%;
    padding: 11px 24px;
    color: $red;
  }
  .signout-btn {
    display: block;
    margin: auto;
  }
}

// profile btn
.profile-btn {
  color: $white;
  border-bottom: none;
}

.user-icon {
  margin-right: 10px;
  background-color: $lightred;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: -2px 2px 5px $black;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $red;
  }
}

/**
Body Section
*/

// Login page
.login-landing {
  background-image: url("https://s3.amazonaws.com/minervalists/cityBg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #444;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    max-width: 150px;
    display: block;
    margin: auto;
  }

  .form {
    max-width: 500px;
    text-align: center;
    background: $RedToLightRedDown;
    border-radius: 10px;
    padding-bottom: 1rem;
    .btn {
      background-color: $red;
    }
  }
  .form-title {
    text-transform: uppercase;
    color: $blue;
  }
  .icon {
    color: $white;
  }
  .input-txt-container {
    width: 100%;
    max-width: 400px;
    input {
      color: $white;
    }
    label {
      color: $gray;
    }
  }
}

// Home Page
.home-article {
  margin: 2rem auto;
}

.section-container {
  .list-section-title {
    background: $BrowntoOrange;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: darken($white, 5%);
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
  }
}

.list-container {
  max-width: 750px;
  margin: 20px auto;
  background-color: $fadedRed;
}

.active-lists {
  padding: 2rem 10px 1rem;
}

.empty-lists {
  text-transform: capitalize;
}

.link-btn {
  display: inline-block;
  border: 2px solid $red;
  padding: 5px 8px;
  border-radius: 5px;
  color: $red;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $red;
    color: $white;
  }
}

// Add List Page

.add-list {
  padding: 2rem 0;
}

.article-title {
  background-image: url("https://s3.amazonaws.com/minervalists/panorama-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  background-color: $gray;
  background-blend-mode: multiply;
  margin: 0;
  padding: 4.5rem 10px;
  font-size: 35px;
  text-align: center;
  text-transform: capitalize;
}

.add-list-subtitle {
  text-transform: capitalize;
  color: $blue;
  margin: 15px 0;
}

.form-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  margin: 2rem 0 0 !important;
  width: 100% !important;

  .input-txt-container {
    margin: 10px auto;
    width: 100%;
    max-width: 350px;
    input {
      width: 100%;
    }
  }
}

.grid-left,
.grid-right {
  background-color: #f4f4f4;
  border-radius: 5px;
}

.success-msg {
  a {
    color: $white;
    border-bottom: 2px solid $blue;
    margin-left: 10px;
  }
}

// All lists pg
.list-item-title {
  text-transform: capitalize;
}

.active-lists {
  .link-btn {
    display: block;
    width: 60%;
    margin: auto;
    text-transform: capitalize;
    text-align: center;
    margin-top: 15px;
  }
}

.empty-lists {
  .link-btn {
    display: inline-block;
    width: auto;
  }
}

.lists-info-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  border-bottom: 2px solid $red;
  margin-bottom: 15px !important;
}

// Single Type View
.search-bar-container {
  input {
    width: 100%;
    display: block;
    border-radius: 0;
    border-bottom: 3px solid $red;
    padding: 1.5rem 10px 10px;
    color: $red;
    font-size: 20px;
    &:active,
    &:focus {
      outline: 1px solid $red;
    }
  }
  .warning > div {
    margin: 10px auto 0;
  }
}

.return-btn {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: $red;
  border: none;
  padding-left: 24px;
  max-width: 200px;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: $red;
    color: $white;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 60px;
  }
}

.list-table {
  margin-bottom: 2rem;
  .section-container {
    padding: 1rem 2rem;
  }
  .btn {
    color: $white;
    border: none;
    font-weight: 300;
    padding: 8px 16px;
  }
}

.link-container {
  padding: 0 !important;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;

  button {
    margin: 10px 0;
  }
}

// Single List View
.single-list-view {
  background-color: #f6f9fc;
  padding: 1rem 0;
  .list {
    margin-top: 1rem;
    padding-bottom: 2.5rem;
    position: relative;
  }
  .add-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $red;
    &:hover {
      background-color: $lightred;
    }
  }
  .success-alert {
    max-width: 100%;
  }
}

.label {
  display: block;
  position: relative;
  padding: 10px 0 10px 40px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  background-color: $white;
  border-bottom: 2px solid $fadedRed;

  .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: $lightred;
      &:after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 11px;
    left: 5px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &:hover .checkbox ~ .checkmark {
    background-color: #ccc;
  }
  &:hover .checkbox:checked ~ .checkmark {
    background-color: $red;
  }
  .delete-item {
    position: absolute;
    right: 0;
    top: 0;
  }
  &:hover {
    background-color: darken($white, 5%);
  }
}

.label.cl-deselected {
  .checkbox {
    &:checked ~ .checkmark {
      background-color: #eee;
      &:after {
        display: none;
      }
    }
  }
}

#progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $RedToLightRed;
  color: $white;
  padding: 1.3rem 10px;
}

.single-list-title {
  text-transform: capitalize;
}

.new-item-input-container {
  display: flex;
  align-items: flex-end;
}

/**
Footer Section
*/

.footer {
  background: $RedToLightRed;
  color: $white;
  text-align: center;
  border-top: 5px solid $red;

  .grid-container {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer-logo {
  max-width: 150px;
}

/**
Animations
*/
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: $red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spinner 1.2s linear infinite;
}

@keyframes selectedItem {
  0% {
    background-color: darken($white, 5%);
  }
  100% {
    background-color: #e1e1e1;
    color: $green;
  }
}

label.cl-selected {
  animation: selectedItem 0.2s linear;
  animation-fill-mode: forwards;
}

@keyframes unselectedItem {
  0% {
    background-color: #e1e1e1;
    color: $green;
  }
  100% {
    background-color: darken($white, 5%);
  }
}

.label {
  animation: unselectedItem 0.2s linear;
}
