/**
Global Section
*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-weight: 400;
}

img {
  width: 100%;
  max-width: 300px;
}

a {
  color: $blue;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid $red;
}

.large-wrapper,
.wrap {
  width: 96%;
  margin: auto;
}

/**
Header Section
*/

.header {
  background: $RedToLightRed;

  .btn {
    background-color: $red;
    color: $white;
    &:hover {
      background-color: $lightred;
    }
  }
}

.header-title {
  display: none;
}

.logo {
  max-width: 80px;
  margin-right: 10px;
}

// profile btn
.profile-btn {
  color: $white;
  border-bottom: none;
}

.user-icon {
  margin-right: 10px;
  background-color: $lightred;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: -2px 2px 5px $black;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $red;
  }
}

/**
Body Section
*/

// Login page
.login-landing {
  background-image: url("https://s3.amazonaws.com/minervalists/cityBg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #444;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    max-width: 150px;
    display: block;
    margin: auto;
  }

  .form {
    max-width: 500px;
    text-align: center;
    background: $RedToLightRedDown;
    border-radius: 10px;
    padding-bottom: 1rem;
    .btn {
      background-color: $red;
    }
  }
  .form-title {
    text-transform: uppercase;
    color: $blue;
  }
  .icon {
    color: $white;
  }
  .input-txt-container {
    width: 100%;
    max-width: 400px;
    input {
      color: $white;
    }
    label {
      color: $gray;
    }
  }
}

// Home Page
.home-article {
  margin: 2rem auto;
}

.section-container {
  .list-section-title {
    background: $BrowntoOrange;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: darken($white, 5%);
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
  }
}

.list-container {
  max-width: 750px;
  margin: 20px auto;
  background-color: $fadedRed;
}

.active-lists {
  padding: 2rem 10px 1rem;
}

.empty-lists {
  text-transform: capitalize;
}

.link-btn {
  display: inline-block;
  border: 2px solid $red;
  padding: 5px 8px;
  border-radius: 5px;
  color: $red;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $red;
    color: $white;
  }
}

// Add List Page

.add-list {
  padding: 2rem 0;
}

.add-list-title {
  background-image: url("https://s3.amazonaws.com/minervalists/panorama-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  background-color: $gray;
  background-blend-mode: multiply;
  margin: 0;
  padding: 4.5rem 10px;
  font-size: 35px;
  text-align: center;
  text-transform: capitalize;
}

.add-list-subtitle {
  text-transform: capitalize;
  color: $blue;
  margin: 15px 0;
}

.form-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  margin: 2rem 0 0 !important;
  width: 100% !important;

  .input-txt-container {
    margin: 10px auto;
    width: 100%;
    max-width: 350px;
    input {
      width: 100%;
    }
  }
}

.grid-left,
.grid-right {
  background-color: #f4f4f4;
  border-radius: 5px;
}

.success-msg {
  a {
    color: $white;
    border-bottom: 2px solid $blue;
    margin-left: 10px;
  }
}

// All lists pg
.list-item-title {
  text-transform: capitalize;
}

.active-lists {
  .link-btn {
    display: block;
    width: 60%;
    margin: auto;
    text-transform: capitalize;
    text-align: center;
    margin-top: 15px;
  }
}

.empty-lists {
  .link-btn {
    display: inline-block;
    width: auto;
  }
}

.lists-info-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  border-bottom: 2px solid $red;
  margin-bottom: 15px !important;
}

// Single Type View
.search-bar-container {
  input {
    width: 100%;
    display: block;
    border-radius: 0;
    border-bottom: 3px solid $red;
    padding: 1.5rem 10px 10px;
    color: $red;
    font-size: 20px;
    &:active,
    &:focus {
      outline: 1px solid $red;
    }
  }
  .warning > div {
    margin: 10px auto 0;
  }
  .btn {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: $red;
    border: none;
    padding-left: 24px;
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      background-color: $red;
      color: $white;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      border-radius: 60px;
    }
  }
}

.list-table {
  margin-bottom: 2rem;
  .section-container {
    padding: 1rem 2rem;
  }
  .btn {
    color: $white;
    border: none;
  }
}

/**
Footer Section
*/

.footer {
  background: $RedToLightRed;
  color: $white;
  text-align: center;
  border-top: 5px solid $red;

  .grid-container {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer-logo {
  max-width: 150px;
}

/**
Animations
*/
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: $red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spinner 1.2s linear infinite;
}
