// Colors
$white: #fff;
$black: #222;
$gray: #878787;
$red: #7f301d;
$lightred: #ff9d86;
$orange: #cc4f2f;
$blue: #073066;
$lightblue: #3f85bf;
$green: #1bb978;
$lightgreen: #2ebf91;
$fadedRed: rgba(201, 129, 114, 0.42);
$fadedBlue: rgba(63, 133, 191, 0.42);

// Fonts
$font: "Nunito Sans", sans-serif;

// Gradients
$gradient: linear-gradient(to right, #3f85bf, #2ebf91);

$gradient2: linear-gradient(to left, #3f85bf, #2ebf91);
