// Colors
$white: #fff;
$black: #222;
$gray: #878787;
$red: #7f301d;
$lightred: #ff9d86;
$orange: #cc4f2f;
$blue: #073066;
$green: #1bb978;
$fadedRed: rgba(201, 129, 114, 0.42);

// Fonts
$font: "Nunito Sans", sans-serif;

// Gradients
$RedToLightRed: linear-gradient(
  to right,
  rgba(127, 49, 29, 1) 0%,
  rgba(161, 106, 93, 1) 64%,
  rgba(255, 156, 134, 1) 100%
);

$RedToLightRedDown: linear-gradient(
  to bottom,
  rgba(127, 49, 29, 1) 0%,
  rgba(201, 129, 114, 0.52) 77%,
  rgba(255, 156, 134, 0.38) 100%
);

$BrowntoOrange: linear-gradient(
  to right,
  rgba(127, 74, 38, 1) 0%,
  rgba(255, 102, 0, 1) 64%,
  rgba(255, 148, 76, 1) 100%
);

$newGrad: linear-gradient(to right, #283c86, #45a247);
